<div class="footer">
  <div class="footer-adress">
    Le Rez-de-Chaussée, 486 rue paradis, 13008 Marseille
  </div>
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Marseille
  </div>
</div>
