<div class="navbar">
  <ul>
    <li>
      <%= link_to "Les collections", articles_path, class: "navbar-link" %>
    </li>
    <li>
      <%= link_to "04 91 77 02 17", "#", class: "navbar-link" %>
    </li>
  </ul>
</div>

