<!-- <div class="navbar">
  <ul class="list">
    <li class="list">
      <%= link_to "Les collections", articles_path, class: "navbar-link home-link" %>
    </li>
    <li class="list">
      <%= link_to "04 91 77 02 17", "#", class: "navbar-link home-link" %>
    </li>
  </ul>
</div>
 -->


<div class="navbar">
    <p class="list">
      <%= link_to "Les collections", articles_path, class: "navbar-link home-link" %>
      <%= link_to "04 91 77 02 17", "#", class: "navbar-link home-link" %>
    </p>
</div>
