<!-- banner -->

<div class="square">
  <p class="vertical-text">Chaussures & Accessoires</p>
  <h1>NOUVELLE COLLECTION</h1>
  <%= link_to "DÉCOUVRIR", articles_path, class: "home-link" %>
  <%= image_tag ("home.jpg"), width: 300 %>
</div>
<!--/. banner -->

<div class="container">
  <h3 class="pt-2">Les dernières nouveautés</h3>

<!--Carousel Wrapper-->
<div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

  <!--Controls-->
  <div class="controls-top">
    <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fas fa-chevron-left"></i></a>
    <a class="btn-floating" href="#multi-item-example" data-slide="next"><i
        class="fas fa-chevron-right"></i></a>
  </div>
  <!--/.Controls-->

  <!--Slides-->
  <div class="carousel-inner" role="listbox">

    <!--First slide-->
    <div class="carousel-item active">

      <div class="cards row justify-content-between pt-2">
        <div class="col-md-4">
          <div class="card-image">
            <div class="card-text justify-content-between">
              <p>Modèle</p>
              <p>Marque</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-image">
            <div class="card-text justify-content-between">
              <p>Modèle</p>
              <p>Marque</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-image">
            <div class="card-text justify-content-between">
              <p>Modèle</p>
              <p>Marque</p>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!--/.First slide-->

    <!--Second slide-->
    <div class="carousel-item">

      <div class="cards row justify-content-between pt-2">
        <div class="col-md-4">
          <div class="card-image">
            <div class="card-text justify-content-between">
              <p>Modèle</p>
              <p>Marque</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-image">
            <div class="card-text justify-content-between">
              <p>Modèle</p>
              <p>Marque</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-image">
            <div class="card-text justify-content-between">
              <p>Modèle</p>
              <p>Marque</p>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!--/.Second slide-->

  </div>
  <!--/.Slides-->

  <!--Indicators-->
  <ol class="carousel-indicators">
    <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
    <li data-target="#multi-item-example" data-slide-to="1"></li>
  </ol>
  <!--/.Indicators-->

</div>
<!--/.Carousel Wrapper-->

</div>
